*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Titillium";
}

@font-face{
    src:url(../font/Titillium_Web/TitilliumWeb-Regular.ttf);
    font-family: "Titillium";
}

@media (min-width: 575px){
    .hnav{
        height: 100vh;
    }
}

/*******Top Nav Bar*******/
.navbar{
    background-color: rgba(124, 213, 255, 0.9);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    z-index: 500;
    padding: 2px;
}

.navbar a{
    padding: 18px;
    display: block;
    color:rgb(0, 55, 172);
    border-radius: 5px;
    transition: all 0.2s linear;
}

.navbar a:hover{
    background-color: rgba(92, 203, 255, 0.9);
}

/*******Side Nav Bar*******/
.hnav{
    overflow: hidden;
    background-color: rgb(189, 231, 255);
    box-shadow: 2px 10px 10px rgba(0,0,0,0.2);
}

.hnav h2{
    margin: 10px 0px 5px 15px;
}

.hnav a{
    display: block;
    color: rgb(0, 146, 172);
    transition: background-color 0.2s linear;
}

.hnav a:hover{
    background-color: rgb(119, 205, 255);
}

/*To remove margin from bootstrap container for navigation bar*/
.nav-adj{
    padding: 0px;
    margin-left: 0px;
}

/***Main Content***/
.col-sm-9 > ul{
    margin-top: 5px;
}