*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans", sans-serif;
}

body{
    background-color: rgb(230, 238, 255);
}

/* Font for title - PermanentMarker*/
@font-face{
    src: url("../font/Permanent_Marker/PermanentMarker-Regular.ttf");
    font-family: "PermanentMarker";
}
/* Font for contents - Open Sans*/
@font-face{
    src: url("../font/Open_Sans/OpenSans-Regular.ttf");
    font-family: "OpenSans";
}

/* Navigation Bar */
.nav{
    position: fixed;
    max-height: 65px;
    width: 100%;
    overflow: hidden;
    /* 207, 88 || */
    background-image: linear-gradient(rgba(142, 218, 248, 0.9),rgba(103, 169, 255, 0.9));
    z-index: 5000;
}

.nav li{
    float: left;
    list-style-type: none;
}

.nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;

    transition: all 0.3s;
    transform: translate(0px,0px);
    color: rgb(53, 60, 82);
}

.nav a:hover{
    transform: scale(1.2);
    text-decoration: overline underline;
    text-underline-offset: 4px;
    color: rgb(20, 23, 34);
}

/* Nav bar Title */
.navfirst a{
    position: relative;
    left: 50px;
    font-family: "PermanentMarker";
    color: rgb(112, 67, 236);
    transform: scale(1.3);
}

.navfirst a:hover{
    text-decoration: none;
    color: rgb(131, 87, 252);
    text-shadow: 0px 0px 5px rgba(23, 27, 255, 0.3);
    transform: scale(1.4);
}

/* Offset for nav bar items */
.navitem{
    position: relative;
    left: 75px;
}

/* Words behind the nav bar */
.wordsbehindnav{
    position: relative;
    height: 65px;
    max-height: 65px;
    background-color: white;
}

.wordsbehindnav h1{
    position: relative;
    transform: translate(-10px,27px);
    text-align: right;
    font-style: italic;
    color: #555;
    opacity: 90%;
    white-space: nowrap;
    font-size: 25px;
}

.mysidetab{
    display: none;
    background-color: rgb(216, 216, 216);
    height: 100vh;
}

@media (max-width: 575px){
    .mysidetab{
        display: none;
    }
}

@media (min-width: 576px){
    .mysidetab{
        display: block;
    }
}

.mymain{
    display: inline-block;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    border: thick double rgba(123, 176, 245, 0.9);
    background-color: rgba(247, 254, 255, 0.904);
    height: auto;
    min-height: 100vh;
    padding-top: 5px;
}

.mymain p, .mymain h4{
    margin-left: 7px;
    margin-bottom: 4px;
}

.infopic{
    position: relative;
    left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0.5px solid rgba(0,0,0,0.3);
}

.mymain a{
    margin-left: 7px;
    margin-bottom: 3px;
}

.code{
    display: inline-block;
    width: auto;
    background-color: #eee;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
}

/* Specifics */
.mymain li{
    margin: 2px 0px 2px 20px;
}

.inputfield{
    width: 100%;
}

.output{
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid black;
    min-height: 26px;
}

.button{
    margin: 3px;
    margin-left: 0px;
}

/* Side Nav Experimental */
.sidenav{
    display: block;
    width: 55px;
    height: 100%;
    z-index: 10000;
    position: fixed;
    background-color: rgb(53, 60, 82);
    transition: 0.3s all;
}

.sidenav-top{
    list-style-type: none;
}

.sidenav:hover{
    width: 200px;
}

/* Item as link */
a.sidenav-link{
    display: block;
    color: white;
    text-decoration: none;
    background-color: inherit;
    transition: all 0.3s;
    overflow: hidden;
}

a.sidenav-link:hover{
    background-color: orange;
    cursor: pointer;
}

/* container of link items */
.sidenav-item{
    display: block;
    width: 200px;
    padding-top: 2px;
    padding-bottom: 7px;
}

.sidenav-icon{
    display: inline;
    padding-left: 10px;
    margin: 0;
    color: #fff;
}

.mainicon{
    font-size: 43px;
}

.subicon{
    padding-left: 15px;
    font-size: 35px;
}

.sidenav-text{
    position: relative;
    top: 10px;
    display: inline-block;
    overflow: hidden;
    padding-left: 15px;
    font-size: 20px;
}

.sidenav-gapL{
    height: 20px;
}

.sidenav-gap{
    height: 10px;
}
/* ===End of container=== */

#hiddentxt{
    visibility:hidden;
    opacity: 0;
    padding-top: 10px;
    transition: all 0.3s;
}