*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "Arial", sans-serif;
}

@font-face{
    src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
    font-family: "Raleway";
}

@font-face{
    src: url("../font/Train_One/TrainOne-Regular.ttf");
    font-family: "TrainOne";
}

/**Loading Screen**/
#loadScreen{
    z-index: 9999999999999;
    position: fixed;
    display: block;
    background-color: rgb(207, 207, 207);
    height: 100%;
    width: 100%;
}

#loadScreen h1{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/***Nav Bar***/
.nav ul{
    position: fixed;
    background-color: #ddd;
    width: 100%;
    z-index: 999;
}

.nav li{
    float: left;
    list-style-type: none;
}

.nav a{
    color: black;
    display: block;
    padding: 15px;
    font-size: 20px;
    transition: all 0.1s linear;
}

.nav a:hover{
    text-decoration: none;
    background-color: rgb(78, 78, 78);
    color: rgb(240, 255, 106);
}

a.navicon{
    padding: 10px;
    font-size: 27px;
}

/**Overlay**/
.overlay{
    position: absolute;
    z-index: 10000;
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    transition: all 0.2s ease-in-out;
}

#closeBtn{
    position: relative;
    top: 60px;
    left: 70%;

    text-decoration: none;
    padding: 20px;
    font-size: 40px;
    color: #eee;
}

.overlay-links a{
    text-decoration: none;
    position: relative;
    top: 10vh;

    white-space: nowrap;
    display: block;
    color: #eee;
    padding: 20px;
    text-align: center;

    transition: all 0.2s ease-in-out;
}

.overlay-links a:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.4);
}

/**Gap for nav**/
.gap{
    height: 80px;
}

/*Text Settings*/
.output{
    border: 1px solid black;
    margin: 2px 15px 2px 15px;
    padding-left: 5px;
    border-radius: 5px;
    min-height: 26px;
}

h1, h2, p, .Btn, .input{
    margin-left: 15px;
}

/*Tab*/
/* Style the tab */
.tab {
    overflow: hidden;
    margin: 0px 20px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f1f1f1;
}

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: all 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontents {
    display: block;
    padding: 6px 12px;
    min-height: 250px;
    margin: 0px 20px 0px 20px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontents p{
    margin-bottom: 2px;
  }

  #HTML, #Javascript{
      display: none;
  }
