*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium";
}

@font-face{
    src: url("font/Titillium_Web/TitilliumWeb-Regular.ttf");
    font-family: "Titillium";
}

/*******Navigation Bar*******/
.top-nav ul{
    width: 100%;
    background-image: linear-gradient(rgba(167, 129, 255, 0.9), rgba(152, 159, 255, 0.9));
    z-index: 500;
    box-shadow: 0px 2px 10px rgba(80, 0, 63, 0.2);
    position: fixed;
}

.top-nav li{
    float: left;
    list-style-type: none;
}

.top-nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 230, 255);
    padding: 22px 16px;
    font-size: 18px;
}

.top-nav a:hover{
    background-image: linear-gradient(rgba(151, 107, 255, 0.8), rgba(132, 140, 255, 0.8));
}

.active{
    background-image: linear-gradient(rgba(151, 107, 255, 0.8), rgba(132, 140, 255, 0.8));
}

/*Dropdown List in nav bar*/
.nav-dropdown{
    display: inline-block;
}

.nav-dropdown-item{
    position: absolute;
}

.nav-dropdown-item a{
    /*Pair of visibility + height: 0 to replace display for animation purpose*/
    visibility: hidden;
    height: 0px;
    overflow: hidden; /*Avoid occupying space*/

    background-color: rgba(132, 140, 255, 0.8);
    min-width: 150px;
    opacity: 0;

    transition: visibility 0s, opacity 0.3s linear, background-color 0.3s ease-in-out;
}

.nav-dropdown-item a:hover{
    background-color: rgba(140, 91, 255, 0.8);
    background-image: none;
}

.nav-dropdown:hover .nav-dropdown-item{
    box-shadow: 0px 5px 10px rgba(34, 0, 70, 0.3);
    /*shadow transition intentionally put here to disable fade out animation*/
    transition: box-shadow 0.3s linear;
}

.nav-dropdown:hover .nav-dropdown-item a{
    visibility: visible;
    height: auto;
    opacity: 1;
}

/*******Image Property & Text Box*******/
.container img{
    position: relative;
}

.img-txt-box{
    background-image: linear-gradient(rgba(185, 155, 255, 0.8), rgba(163, 170, 255, 0.8));
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(107, 0, 98);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.img-txt-box:hover{
    padding: 45px 30px;
    font-size: 18px;
    top: 25%;
}