*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium";
}

@font-face{
    src: url(font/Titillium_Web/TitilliumWeb-Regular.ttf);
    font-family: "Titillium";
}

/*******Dount Header*******/
header{
    background-image: url("pic/dount-icon.png");
    background-size: 51px;
    height: 100px;
    background-color:rgb(250, 255, 219);
    overflow: hidden;
}

/*********Navigation Bar*********/
.nav{
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    width: 100%;
    z-index: 500;
    background-image: linear-gradient(rgba(255, 157, 211, 0.9),rgba(255, 202, 230, 0.9));
    box-shadow: rgba(0, 0, 0, 0.3);
}

.nav li{
    list-style-type: none;
    display: inline-block;
}

.nav a{
    display: block;
    text-decoration: none;
    color: rgb(202, 74, 144);
    padding: 20px;
    font-size: 18px;
}

.nav a:hover{
    background-image: linear-gradient(rgba(255, 119, 194, 0.9),rgba(255, 158, 210, 0.9));
    color: white;
}

/*dropdown in navigation bar*/
.nav-dropdown{
    position: relative;
}

.nav-drop-item{
    position: absolute;
    height: 0px;
    overflow: hidden;
}

.nav-drop-item a{
    height: 0px;
    opacity: 0;

    background-color: rgba(255, 167, 214, 0.9);
    min-width: 150px;
}

.nav-dropdown:hover .nav-drop-item a{
    height: auto;
    opacity: 1;
    transition: height 0s, opacity 0.2s linear, background-color 0.2s linear, color 0.1s linear;
}

.nav-dropdown:hover .nav-drop-item{
    height: auto;
    box-shadow: 0px 5px 10px rgba(68, 0, 37, 0.2);
    transition: box-shadow 0.2s linear;
}

.nav-drop-item a:hover{
    background-color: rgba(255, 140, 201, 0.9);
}

/*******Bottom Navigation - inherited from .nav*******/
.bot-nav{
    bottom: 0;
    overflow: hidden;
    display: -webkit-sticky;
    display: sticky;
    background-image: linear-gradient(rgba(253, 169, 217, 0.9),rgba(255, 184, 222, 0.9));
    box-shadow: 0px -0.5px 10px rgba(68, 0, 37, 0.2);
}

.bot-nav a{
    padding: 10px;
    font-size: 14px;
}

/**********Text box and Image**************/
.img-container{
    position: relative;
}

.text-box{
    position: absolute;
    text-align: center;
    background-color: rgb(255, 215, 237);
    color: rgb(179, 30, 112);
    padding: 20px;
    border-radius: 5px;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box2{
    top: calc(15% + 220px);
    min-width: 70%;
    background-color: rgb(255, 203, 231);
    padding: 10px;
}
