*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, p{
    margin: 5px;
}

h1{
    text-shadow: 2px 2px 40px lightgreen;
}

/*Navigation Bar*/
.top-nav{
    list-style-type: none;
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(144, 255, 186);
}

.top-nav-item{
    display: inline-block;
}

.top-nav-item a{
    display: inline-block;
    text-decoration: none;
    color: rgb(80, 2, 2);
    padding: 11px;
}

.top-nav-item a:hover{
    background-color: rgb(100, 255, 159);
}

.active{
    background-color: rgb(100, 255, 159);
}

/*Dropdown within the navigation bar*/
.top-nav-dropdown{
    /*Absolute position to skip from normal flow*/
    position: absolute;
}

.top-nav-dropdown-item {
    display: none;
    width: 175px;
    background-color: rgb(183, 255, 211);
    border: 1px dotted black;
}

.top-nav-dropdown-item a{
    display: block;
    padding: 12px;
}

.top-nav-dropdown:hover .top-nav-dropdown-item{
    display: block;
}

 /*Color change on hover and select of items*/
.top-nav-dropdown-item a:hover{
    display: block;
    background-color: rgb(158, 255, 195);
}

.top-nav-dropdown-item a:active{
    background-color: rgb(108, 255, 164);
}

/*Button Dropdown*/
.btn-dropdown{
    position: absolute;
}

.dropBtn{
    background-color: lightgreen;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.btn-dropdown-items {
    display: none;
    width: 175px;
    background-color: rgb(183, 255, 211);
    border: 1px dotted black;
}

.btn-dropdown-items a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.btn-dropdown:hover .btn-dropdown-items{
    display: block;
}