*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: "Arvo";
    src: url(font/Arvo/Arvo-Regular.ttf);
}

h1, h2, p{
    color: black;
    margin: 5px;;
    z-index: 5;
    background-color: none;
}

/*Top Navigation Bar*/
.top-nav{ /*The bar*/
    position: fixed;
    overflow: hidden;
    background-color: rgb(180, 180, 180);
    width: 100%;
    opacity: 90%;
    z-index: 10;
}

.top-nav li{ /*Element Align*/
    float: left;
    list-style-type: none;
}

.top-nav a{ /*Element Content*/
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color: rgb(180, 180, 180);
    padding: 30px 20px;
    font-size: 25px;
}

/*Dropdown List for Nav Bar Item*/
.nav-dropdown{
    position: relative;
    display: inline-block;
}


/*Top Nav - Interactive Functions*/
.top-nav li a:hover{
    background-color: rgb(175, 175, 175);
}

/*Setting up the intro big picture*/
.intro-pic{
    width: 100%;
    height: auto;
}

/*Text box that wrap into the image*/
.container{
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.text-block {
    position: absolute;
    bottom: 60%;
    right: 20%;
    background-color: white;
    border-radius: 5px;
    padding: 15px 45px;
  }

  .text-block h2,p{
      font-size: 1.5em;
      font-family: "Arvo";
  }
