*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Titillium", "Georgia", sans-serif;
}

@font-face{
    font-family: "Titillium";
    src: url("/font/Titillium_Web/TitilliumWeb-Regular.ttf");
}

/**************Top Navigation Bar******************/
.top-nav ul{
    position: fixed;
    width: 100%;
    background-color: rgba(161, 255, 98, 0.9);
    z-index: 500;
}

.top-nav li{
    list-style-type: none;
    float: left;
}

.top-nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(117, 0, 0);
    padding: 30px 15px;
    transition: all 0.3s ease-in-out;
}

.top-nav a:hover{
    background-color: rgba(147, 255, 75, 0.8);  
}

/*****************Word Settings**********************/
h1, h2{
    text-align: center;
    margin: 5px;
}

h2{
    font-size: 18px;
    font-weight: 500;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
}

.picture{
    width: calc(100% - 20px);
    margin: 5px auto;
}

.picture img{
    position: relative;
    width: 100%;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.picture img:hover{
    opacity: 1;
}